body {
    padding: 10px;
}

.pageTitle {
    text-align: center;
    margin-top: 20px;
}

.borderline {
    width: 60%;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

/* ------- Active Listing   ------- */

.containerList {
    list-style: none;
    width: 95%;
    margin: 20px auto;
    border-top: 1px solid lightgray;
    padding-top: 20px;
}

.listingContainer {
    
    height: 300px;
    display: flex;
    flex-direction: row;      
}



/* ----- Image Section (Left side)------ */

.listingImage {
    height: 300px;
    width: 400px;
    overflow: hidden;      
}

.listingImage img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}


/* ----- Description Section (Right side)------ */

.listingDescription {
    margin-left: 40px;
    width: 100%;
}

.listingDescription a {
    text-decoration: none;
    color: black;
    margin-top: -20px;      
}

.listingDescription h3 {
    margin: 10px 0 0 0;
}

.listingDescription h1 {
    margin: -20px 0 5px 0;
}

.listingDescription .bid {
    margin: 40px 0 40px 0;
    padding-top: 20px;
}

.heart {
    margin: 20px 0 0 0;
    width: 100%;
    font-size: 28px;
}
.heart label {
    float: right;
}

.heart label:hover {
    cursor: pointer;
}



/* -------------------LIST ITEM PAGE -----------------------------*/

.item-body {
    border-top: 1px solid lightgray;
    width: 60%;
    margin: 0 auto;
}
.item-top {
    display: flex;
    flex-direction: row;
}

.item-image {
    margin-right: 40px;
    height: 500px;
    width: 500px;
}

.item-image img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.item-right {
    width: 80%;
}

.item-right h1 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-top: 20px;
}

.conditions {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    padding: 10px 0 20px 0;
}
.conditions p{
    margin: 0 0 0 20px;
}

.conditions .top {
    margin-left: 43px;
}

.conditions .seller {
    margin-left: 42px;
}

.bid-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.bid-amount {
    margin: 0 80px 0 10px
}

.bid-amount h3 {
    margin-top: -3px;
}

.bid-amount p {
    color: gray;
}

.bid-amount input {
    width: 150px;
}

.bid-buttons {
    display: flex;
    flex-direction: column;
}

.bid-buttons button {
    width: 250px;
    height: 40px;
    margin: 0 0 20px 0;
    border-radius: 20px;
}

.bid-buttons .one {
    background-color: #0053A0;
    color: white;
    border: none;
}

.bid-buttons .two {
    background-color: white;
    border: 1px #0053A0 solid;
    color: #0053A0;
}

.comments {
    border-top: 1px solid lightgray;
    height: 400px;
}

.comments h1 {
    margin: 40px 0 0 0;
}
.comments .fa {
    height: 40px;
    font-size: 36px !important;
    margin: 20px 20px 10px 35px; 
}

.comment-count {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.comment-count-section {
    border-bottom: 5px solid lightgray;
    margin-bottom: 20px;
}

.user-comment {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
}

.user-comment p {
    background-color: lightgray;
    font-size: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    margin: 0 20px 0 20px
         
}

.comment-right {
    width: 100%;
}

.comment-right form {
    width: 100%;
    height: 100%;
}
.comment-right input {
    width: 100%;
    height: 40px;
    margin: 5px 0 40px 0;
    background-color: lightgray;
    border: none;
    border-radius: 2px;
    font-size: 24px;
    font-weight: 500;
}
.comment-box {
    width: 100%;
    height: 100%;
}


.posted-comments {
    margin: 20px 0 40px 0;
    
}

.posted-comment-right {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.username {
    color: #0053A0;
}

.timestamp {
    color: rgb(146, 146, 146);
    font-size: 12px;
}


/* --------------My Listing Page ------------ */

.myListingContainer {
    height: 200px;
    display: flex;
    flex-direction: row;      
}
.myListings-title {
    text-align: center;
    margin: 10px 0 5px 0;
}

.myListingImage {
    height: 200px;
    width: 300px;
    overflow: hidden;      
}

.myListingImage img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.myListingDescription {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    width: 100%;   
}
.myListingDescription .one {
    width: 50%;
}
.myListingDescription .one .id {
    margin-top: -10px;
}

.myListingDescription .one .current {
    margin-bottom: -10px;
}

.myListingDescription .two {
    width: 20%;
    text-align: center;
    margin-top: 60px;
}

.myListingDescription .three {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 60px;
}

.myListingDescription button {
    margin-bottom: 10px;
    border-radius: 4px;
    height: 35px;
    width: 100%;
}

.three .edit {
    background-color: #3665F3;
    color: white;
    border: none;
}

.three .delete {
    background-color: white;
    border: #3665F3 1px solid;
    color: #3665F3;
}

.preview-buttons {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.preview-buttons a {
    margin: 10px;
}

.preview-buttons button {
    width: 200px;
    height: 35px;
}

.preview-buttons .edit {
    background-color: #3665F3;
    color: white;
    border: none;
}

.preview-buttons .submit {
    background-color: white;
    border: #3665F3 1px solid;
    color: #3665F3;
}


/* -------------- Create Listing ------------ */

.create-mainTitle{
    text-align: center;
}

.create-body {
    width: 60%;
    margin: 0 auto;
    border-top: solid 1px lightgray;
}

.create-body h3 {
    margin: 10px 0 40px 0;
}

.create-body .title {
    display: flex;
}

.create-body .title .left {
    width: 20%;
}
.create-body .title p {
    font-size: 12px;
    color: gray;
    margin-top: -5px;
    margin-bottom: 20px;
}

.create-body .title .right {
    width: 80%;
    margin-left: 20px;
}
.create-title {
    width: 100%;
    height: 45px;
}

.create-category {
    width: 20%;
    height: 35px;
}

.create-image {
    width: 100%;
    height: 45px;
}

.create-condition {
    width: 20%;
    height: 35px;
}

.create-bid {
    width: 20%;
    height: 35px;
}

.create-description {
    width: 100%;
}

.create-buttons {
    text-align: center;
    width: 80%;
    margin: 40px 0 40px 0;
}

.create-buttons input {
    margin-right: 20px;
    width: 200px;
    height: 35px;
    border-radius: 4px;
}

.create-buttons .preview {
    background-color: #3665F3;
    color: white;
    border: none;
}

.create-buttons .submit {
    background-color: white;
    border: #3665F3 1px solid;
    color: #3665F3;
}



  
