{% extends "auctions/layout.html" %}

{% block body %}
    
    <div class="borderline">
        <h2 class="pageTitle">Active Listings</h2>
    {% for listing in listings reversed%} 

    <ul class="containerList">
        
            <li>
                  
                <div class="listingContainer">
                    
                    <div class="listingImage">
                        <a href="{% url 'listItem' listing.id %} "> 
                            <img src="{{listing.image}}" alt="">
                        </a> 
                    </div>

                    <div class="listingDescription">

                        <div class="title">
                            <h3><a href="{% url 'listItem' listing.id %} ">{{listing.title}}</a></h3>
                            <p>Condition: {{listing.condition|title}}</p>
                        </div>

                        <div class="bid">
                            <p>Current Bid:</p>
                            <h1>${{listing.bid}}</h1>
                            <p>Number of bids - Time Left</p>
                        </div> 

                    </div>


                </div>




                
            </li>
        


        
    </ul>


{% endfor %}
    </div> 
{% endblock %}