{% extends "auctions/layout.html" %}


{% block body %}
    <div class="borderline">
    <h2 class="myListings-title">My Listings</h2>
{% for listing in listings %} 

    <ul class="containerList">
        
            <li>
                  
                <div class="myListingContainer">
                    <div class="myListingImage">
                            <img src="{{listing.image}}" alt="">
                    </div>

                    <div class="myListingDescription">
                        <div class="one">
                            <h3>{{listing.title}}</h3>
                            <p class="id">({{listing.id}})</p>
                            <p class="current">Current Bid:</p>
                            <h1>${{listing.bid}}</h1>
                            <p>Number of bids</p>
                        </div>
                        <div class="two">
                            <p>Time left</p>
                            <p>Date Posted: <br>
                                {{listing.dateCreated|date:"F d, Y"}}</p>
                        </div>
                        <div class="three">
                            <a href="{% url 'edit' listing.id %}"><button class="edit">Edit</button></a>
                            <a href="{% url 'delete' listing.id %}"><button class="delete">Delete</button></a>
                        </div>
                        
                        

                    </div>


                </div>




                
            </li>
        


        
    </ul>


{% endfor %} 

    </div>

{% endblock %}